@page "/home"
@inject UserStore UserStore
@inject EventStore EventStore
@inject HttpClient HttpClient
@inject NavigationManager NavManager

<h3>Dashboard</h3>

<div class="attendance">

<input class="search-bar pointer padding" type="search" @bind-Value="EventStore.SearchTerm" @bind-Value:event="oninput" placeholder="Søg..." />

    <div class="event-">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Navn</th>
                    <th scope="col">Pris</th>
                    <th scope="col">Dato</th>
                </tr>
            </thead>
            @foreach (var e in EventStore.EventSearch(EventStore.EventsWithBookedUsers))
            {
            <tbody>
                <tr class="pointer" @onclick="(() => NavigateToEvent(e.Id))">
                    <td>@e.Name</td>
                    <td>@e.Price</td>
                    <td>@e.EventDate</td>
                </tr>
            </tbody>
            }
        </table>
    </div>
    </div>

@code {

    protected override async Task OnInitializedAsync()
    {
        EventStore.EventsWithBookedUsers = await HttpClient.GetJsonAsync<IEnumerable<GetEventListViewModel>>("api/events/all");
    }

    private void NavigateToEvent(Guid eventId)
    {
        NavManager.NavigateTo($"events/{eventId}/users");
    }
}
