@page "/home"
@inject UserStore UserStore
@inject EventStore EventStore
@inject HttpClient HttpClient
@inject NavigationManager NavManager

<h3>Dashboard</h3>

<input type="search" @bind-Value="EventStore.SearchTerm" @bind-Value:event="oninput" />

@foreach (var e in EventStore.EventSearch(EventStore.EventsWithBookedUsers))
{
    <div @onclick="(() => NavigateToEvent(e.Id))">
        <p>@e.Name</p>
    </div>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        EventStore.EventsWithBookedUsers = await HttpClient.GetJsonAsync<IEnumerable<GetEventListViewModel>>("api/events/all");
    }

    private void NavigateToEvent(Guid eventId)
    {
        NavManager.NavigateTo($"events/{eventId}/users");
    }
}
