
<li class="draggable" draggable="true" @ondragstart="@(() => HandleDragStart(user))">
    @user.FirstName @user.LastName
    <p>Tickets : @user.Tickets.Count()</p>
</li>

@code {

    [CascadingParameter]
    public UserContainer Container { get; set; }

    [Parameter]
    public GetUserFromEventViewModel user { get; set; }

    private void HandleDragStart(GetUserFromEventViewModel user)
    {
        Container.User = user;
    }
}
