
<li class="draggable" draggable="true" @ondragstart="@(() => HandleDragStart(user))">
    @user.FirstName @user.LastName
    <p>Tickets : @NumberOfTickets()</p>
</li>

@code {

    [CascadingParameter]
    public UserContainer Container { get; set; }

    [Parameter]
    public GetUserFromEventViewModel user { get; set; }

    private void HandleDragStart(GetUserFromEventViewModel user)
    {
        Container.User = user;
    }

    private int NumberOfTickets()
    {
        var result = user.Tickets.Where(ticket => ticket.Event.Id == Container.EventContainer.Id).Count();
        return result;
    }
}
