@page  "/store/{storeId:guid}"
@inject StoreStore Store
@inject HttpClient HttpClient

@if (Store.Store != null && Store.Store.Address != null && Store.Store.City != null && Store.Store.Region !=  null)
{
        <h3>@Store.Store.Name</h3>
        <p>@Store.Store.City.Name</p>
    
        <p>@Store.Store.Region.Name</p>
        <p> @Store.Store.Address.RoadName</p>
}

else if(failed == true)
{
    <p>Could not load data..</p>
}

@code {

    [Parameter]
    public Guid StoreId { get; set; }

    protected bool failed;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            failed = false;
            Store.Store = await HttpClient.GetJsonAsync<GetSingleStoreViewModel>($"api/store/{StoreId}");
        }
        catch (Exception)
        {
            failed = true;
            throw;
        }
    }
}
