<h3>Process</h3>


<div class="process-container">
    <div class="process triangle-right">@Step.Basket</div>
    <div class="process">@Step.Delivery</div>
    <div class="process">@Step.Payment</div>
    <div class="process">@Step.Receipt</div>

</div>


@code {

    [Parameter]
    public Step Step { get; set; }
}
