
.process-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid grey;
}

.process-container div{
    flex: 1;
}

.process{
    text-align: center;
    font-size: 1.2em;
    padding: 2%;
}

.active{
    border: 2px solid green;
    background: red;
}

.process-container div::after {
    content: "";
    position: fixed;
    margin: -14px 0 0 35px;
    display: inline-block;
    border: solid black;
    border-width: 0 1px 1px 0;
    padding: 1.8%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
/*Delivery*/

.delivery-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.form-container{
    width: 50%;
}

side-container{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.aside-box{
    width: 300px;
    margin-top: 5%;
    border: 1px solid #eee;
}

.grey{
    background-color: #eee;
    width: 100%;
}

.yellow-sticker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 2%;
    background-color: #f3efb4;
}