.index-container{
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: 2fr;
}

/*Event-list*/

.eventlist-container {
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 1fr;
    list-style-type: none;
    padding-left: 0;
}

/*Event-li*/

.event-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 1%;
    cursor: pointer;
}

.event-left{
    flex: 1;
}

.event-left-top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.event-left-top h2:last-of-type{
    margin-right: 5%;
}

.event-left p {
    font-size: 0.8rem;
}

.event-right {
    padding: 1%;
    border: 1px solid silver;
}

.search-bar {
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    margin-left: 16px;
    height: 30px;
}

/*Event-card*/

.card-container {
    width: 100%;
    height: 400px;
    margin: 1% 0;
    padding: 2%;
}

.event-container:hover {
    background: #f7f7f7;
}

h1 {
    color: #144164;
}

.mdc-card{
    background-color: #f7f7f7 !important;
}

.card-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
    grid-template-rows: 1fr;
}

.card-content > div > h6 {
    color: #144164;
    font-size: 0.8rem;
    font-weight: bolder;
}

.v-line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    width: 300px;
    height: 300px;
    max-width: 100% !important;
    max-height: 100% !important;
    border-radius: 2%;
}

.event-section-1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    padding: 5% 0 0 10%;
}

.event-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.event-section-2 > h1{
    margin-top: 45%;
}

.event-section-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.vertical-line {
    border-left: 1px solid black;
    display: inline-block;
    left: -50%;
    height: 70%;
}

/*Misc*/

.hide-form {
    display: none;
}

.display-form {
    display: block;
}

.warning {
    color: red;
}

.display {
    display: block;
}

.hide {
    display: none;
}