@page  "/account"
@inject HttpClient HttpClient
@inject IAuthService AuthService
@inject NavigationManager NavManager
@inject AuthStore AuthStore
@attribute [Authorize(Policy = Policies.IsUser)]

<h3>Account</h3>

<!--More properties to be added-->
<p>@AuthStore.User.Email</p>
<p>@AuthStore.User.FirstName</p>
<p>@AuthStore.User.LastName</p>

<button class="btn btn-outline-danger" @onclick="@(() => DeleteAccount())">delete</button>

@code {

    protected override async Task OnInitializedAsync()
    {
        AuthStore.User = await HttpClient.GetJsonAsync<UserModel>("api/accounts/user");
    }

    private async Task DeleteAccount()
    {
        try
        {
            await HttpClient.DeleteAsync("api/accounts/delete");
            await AuthService.Logout();
            NavManager.NavigateTo("/");
        }
        catch
        {
        }
    }
}
