@inject IJSRuntime JSRunTime
<h3>Price</h3>
<p>@Text</p>
<input type="range"/>

@code {
    public double MinRange { get; set; }
    public double MaxRange { get; set; }
    public string Text { get; set; }

}
