@inject NavigationManager NavManager

    <li class="event-container" @onclick="@(() => NavigateToEventDetails(Model.Id))">
        <div class="card-container">
                <h1>@Model.Name</h1>
                <div class="my-row">
                   <img Class="image-container" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" />
                   <div class="card-content">
                       <div class="event-section-1">
                           <h6>BESKRIVELSE</h6>
                           <p>@Model.Description</p>
                       </div>
                       <div class="v-line">
                           <div class="vertical-line"></div>
                       </div>
                       <div class="event-section-2">
                           <h6>PRIS PR. BILLET</h6>
                           <h1>@PayableOnline</h1>
                       </div>
                       <div class="v-line">
                           <div class="vertical-line"></div>
                       </div>        
                       <div class="event-section-3">
                           <div>
                           <Amount />
                           </div>
                           <h4>Læg i tilbudskurven</h4>
                       </div>
                   </div>
                </div>
        </div>
    </li>

@code {
    [Parameter]
    public GetEventListViewModel Model { get; set; }
    public string PayableOnline => Model.PayOnline == false ? "Købes i butik" : $"{Model.Price} kr.";

    private void NavigateToEventDetails(Guid eventId)
    {
        NavManager.NavigateTo($"/{eventId}/event/details");
    }
}
