@page "/"
@inject AuthStore AuthStore
@inject HttpClient HttpClient
@inject NavigationManager NavManager

<h1>Hello, world!</h1>

<AuthorizeView Policy="@Policies.IsAdmin">
    <button class="btn btn-dark" @onclick="@NavigateToCreateEvent">Create Event</button>
</AuthorizeView>

<Regions />
<Events />

@code{

    protected override async Task OnInitializedAsync()
    {
        AuthStore.User = await HttpClient.GetJsonAsync<UserModel>("api/accounts/user");
        AuthStore.NotifyLogin();
    }

    private void NavigateToCreateEvent()
    {
        NavManager.NavigateTo("/create/event");
    }
}