@page "/"
@inject AuthStore AuthStore
@inject HttpClient HttpClient
@inject NavigationManager NavManager

<div class="row">
<Regions />
<Price />
</div>
<Events />

@code{

    protected override async Task OnInitializedAsync()
    {
        try
        {
            AuthStore.User = await HttpClient.GetJsonAsync<UserModel>("api/accounts/user");
            if (AuthStore.User.Email != "")
            {
                AuthStore.NotifyLogin();
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.InnerException + e.Message);
        }
    }

    private void NavigateToCreateEvent()
    {
        NavManager.NavigateTo("/create/event");
    }
}