@inject IAuthService AuthService
@inject NavigationManager NavManager
@inject AuthStore  AuthStore

<div class="login">
    <AuthorizeView>
        <Authorizing>
            <text>Processing..</text>
        </Authorizing>
        <Authorized>
            <div>
                <span class="username">Hello, @context.User.Identity.Name</span>
                <button class="sign-out" @onclick="@HandleLogout">Sign out</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <button class="btn btn-success" @onclick="@(() => NavManager.NavigateTo("/register"))">Register</button> |
            <button class="sign-in" @onclick="@(() => NavManager.NavigateTo("/login"))">Log in</button>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{

    private async Task HandleLogout()
    {
        await AuthService.Logout();
        NavManager.NavigateTo("/region");
    }
}